---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&language=en-US&page=1&query=batman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 42dd19a497cd590f7963e472fd1c3079
      X-Memc-Age:
      - '933'
      X-Memc-Expires:
      - '24257'
      Etag:
      - W/"ce228a81b7797eb3b1105a070330caa3"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/frDS8A5vIP927KYAxTVVKRIbqZw.jpg","genre_ids":[14,28,80],"id":268,"original_language":"en","original_title":"Batman","overview":"Batman
        must face his most ruthless nemesis when a deformed madman calling himself
        \"The Joker\" seizes control of Gotham''s criminal underworld.","popularity":41.964,"poster_path":"/cij4dd21v2Rk2YtUQbV5kW69WB2.jpg","release_date":"1989-06-21","title":"Batman","video":false,"vote_average":7.232,"vote_count":7587},{"adult":false,"backdrop_path":"/bxxupqG6TBLKC60M6L8iOvbQEr6.jpg","genre_ids":[28,35,80],"id":2661,"original_language":"en","original_title":"Batman","overview":"The
        Dynamic Duo faces four super-villains who plan to hold the world for ransom
        with the help of a secret invention that instantly dehydrates people.","popularity":22.474,"poster_path":"/zzoPxWHnPa0eyfkMLgwbNvdEcVF.jpg","release_date":"1966-07-30","title":"Batman","video":false,"vote_average":6.396,"vote_count":907[...]
