<h1><%= @movie.title %></h1>

<h2> Rent Movie </h2>
<ul>
<%= @rent.each do |provider| %>
  <li> provider.name </li>
  <li> provider.name </li>
<% end %>
</ul>

<h2> Buy Movie </h2>
<ul>
<%= @rent.each do |provider| %>
  <li> provider.name </li>
  <li> provider.name </li>
<% end %>
</ul>

<p><i>Buy/Rent data provided by JustWatch</i></p>
