---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/movie_id?api_key=<TMDB_API_KEY>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Thu, 04 Jul 2024 17:38:39 GMT
recorded_with: VCR 6.2.0
