---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&language=en-US&page=1&query=Interstellar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 802574a96f7c68f4f78f618ead29cd6e
      X-Memc-Age:
      - '9065'
      X-Memc-Expires:
      - '14357'
      Etag:
      - W/"d28cdfc1abbe48e87c5299a02a3428e7"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/xJHokMbljvjADYdit5fK5VQsXEG.jpg","genre_ids":[12,18,878],"id":157336,"original_language":"en","original_title":"Interstellar","overview":"The
        adventures of a group of explorers who make use of a newly discovered wormhole
        to surpass the limitations on human space travel and conquer the vast distances
        involved in an interstellar voyage.","popularity":185.048,"poster_path":"/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg","release_date":"2014-11-05","title":"Interstellar","video":false,"vote_average":8.436,"vote_count":34650},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":1310715,"original_language":"en","original_title":"interstellar","overview":"interstellar","popularity":0.304,"poster_path":null,"release_date":"","title":"interstellar","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":"/8C32MMrMYT5gON7nXgEGeM4puH4.jpg","genre_ids":[99],"id":336592,"original_language":"en","original_title":"The
        Science of Interstellar","overview":"Matthew McConaughey narrates a [...]
